@font-face {
  font-family: "Batman";
  src: url("../font/SVN-Batman1.otf") format("opentype");
}
/* text */
p {
  font-family: "Batman";
  position: absolute;
  z-index: 99;
  top: 50%;
  font-size: 50px;
  text-align: center;
  width: max-content;
  -webkit-text-stroke-width: 2px; /* Độ dày của border */
  -webkit-text-stroke-color: white; /* Màu của border */
  color: transparent;
}
@keyframes animationsText {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.text-l {
  transform: translateX(-30%) translateY(-50%) rotate(-90deg);
  animation: animationsText .5s ease-in-out infinite;

}
.text-l:hover{
}
.text-r {
  transform: translateX(30%) translateY(-50%) rotate(-90deg);
  right: 0;
  animation: animationsText .5s ease-in-out infinite;
  width: 500px;
}
/* contents */
.background {
  background: url("../images/map.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
.overlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(1, 55, 71, 0.85);
  inset: 0;
}
.content {
  position: absolute;
  background-color: #fff;
  height: 80%;
  width: 60%;
  /* overflow: hidden; */
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image_map {
  width: 100%;
  height: 80%;
  /* overflow: hidden; */
  position: relative;
}
.overlay_mouse {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  height: 50px;
}
.overlay_mouse-top {
  top: 0;
  background-color: #000;
  opacity: .3;
}
.overlay_mouse-bottom {
  bottom: 0;
  background-color: #000;
  opacity: .3;
}
.inner-block {
  position: absolute;
  background: url("../images/map_songsaigon.jpg") no-repeat;
  /* transform: scale(1.8); */
  width: 100%;
  
  /* background-position:top left 0px; */
  background-position:left 0 center;
  /* background-position:bottom right 0; */
  
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
#location {
  position: absolute;
  z-index: 99;
  transition: all 0.5s ease;
}

#location.center {
  top: 38%;
  left: 400px;
}
#location.top {
  top: 19%;
  left: 130px;
}
#location.bottom {
  top:78%;
  right: 320px;
}
#location.centerMobi {
  left: 180px;
  top: 39%;
}
#location.topMobi {
  left: 100px;
}
#location.bottomMobi {
  top: 80%;
  right: 130px;
}
/* @media screen and (max-width: 767px) {
  .inner-block {
    background-position: bottom right -190px;
  }
  .inner-block.resize{
    background-position: bottom right -190px;
  }
  
} */
.btn-common{
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
}
.btn-up {
  top: 0;
}
.btn-down {
 bottom: 0;
}

@keyframes animationsFooter {
  0% {
      transform: translateY(4px);
  }
  50% {
      transform: translateY(-4px);
  }
  100% {
      transform: translateY(4px);
  }
}
.logo img{
  position: absolute;
  cursor: pointer;
  top: 30px;
  /* transform: translate(0, -50%); */

}
.logo:hover img{
  animation: animationsFooter 0.5s ease-in-out infinite;
}
#location {
  animation: animationsFooter 0.5s ease-in-out infinite;
}