@font-face {
  font-family: "Batman";
  src: url("../font/SVN-Batman1.otf") format("opentype");
}
/* text */
p {
  font-family: "Batman";
  position: absolute;
  z-index: 99;
  top: 50%;
  font-size: 50px;
  text-align: center;
  width: max-content;
  -webkit-text-stroke-width: 2px; /* Độ dày của border */
  -webkit-text-stroke-color: white; /* Màu của border */
  color: transparent;
}
@keyframes animationsText {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.text-l {
  transform: translateX(-30%) translateY(-50%) rotate(-90deg);
  animation: animationsText 0.5s ease-in-out infinite;
}
.text-r {
  transform: translateX(30%) translateY(-50%) rotate(-90deg);
  right: 0;
  animation: animationsText 0.5s ease-in-out infinite;
  width: 500px;
}
/* contents */
.background {
  background: url("../images/map.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
.overlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(1, 55, 71, 0.85);
  inset: 0;
}
.content {
  position: absolute;
  background-color: #fff;
  height: 80%;
  width: 60%;
  z-index: 10;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image_map {
  width: 100%;
  height: 80%;
  position: relative;
}
.overlay_mouse {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  height: 50px;
}
.overlay_mouse-top {
  top: 0;
}
.overlay_mouse-bottom {
  bottom: 0;
}
.inner-block {
  position: absolute;
  background: url("../images/map_songsaigon.jpg") no-repeat;
  width: 100%;
  background-position: left 0 center;

  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
#location {
  position: absolute;
  z-index: 99;
  transition: all 0.5s ease;
}

#location.center {
  top: 38%;
  left: 400px;
}
#location.top {
  top: 19%;
  left: 130px;
}
#location.bottom {
  top: 78%;
  right: 320px;
}
.btn-common {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
}
.btn-up {
  top: 0;
}
.btn-down {
  bottom: 0;
}

@keyframes animationsFooter {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}
.logo img {
  position: absolute;
  cursor: pointer;
  top: 30px;
}
.logo:hover img {
  animation: animationsFooter 0.5s ease-in-out infinite;
}
#location {
  animation: animationsFooter 0.5s ease-in-out infinite;
}
